@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: white;
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.menusidebar .sidebar{
    background: rgb(5, 68, 104);
    background-image: linear-gradient(#05CAFF, #0373FF, #0239BF);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.menusidebar .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
    padding-top: 10px;
}

.menusidebar .sidebar .profile img{

    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.menusidebar .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.menusidebar .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.menusidebar .sidebar ul li a{
    display: block;
    padding: 10% 40px;
    text-decoration: none;
    color: rgb(241, 237, 237);
    font-size: 17px;
    position: relative;
    font-family: Circular, Verdana, sans-serif;
}

.menusidebar .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.menusidebar .sidebar ul li a:hover,
.menusidebar .sidebar ul li a.active{
    color: #0c7db1;
    background:white;
}

.menusidebar .sidebar ul li a:hover .icon,
.menusidebar .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.menusidebar .sidebar ul li a:hover:before,
.menusidebar .sidebar ul li a.active:before{
    display: block;
}

.menusidebar .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.menusidebar .section .top_navbar{
    background: #05CAFF;
    background-image: linear-gradient(to right, #05CAFF, #0373FF, #0239BF);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.menusidebar .section .top_navbar .hamburger a{
    font-size: 28px;
    color: #f4fbff;
}

.menusidebar .section .top_navbar .hamburger a:hover{
    color: #a2ecff;
}

body.active .menusidebar .sidebar{
    left: -225px;
}

body.active .menusidebar .section{
    margin-left: 0;
    width: 100%;
}

hr.rounded {
    border-top: 2px solid #bbb;
    border-radius: 5px;
    margin-left: 4.5em;
    margin-right: 4.5em;
    margin-bottom: 0.5em;
    margin-top: 2em;
}

ul {
    list-style: none;
    padding-left: 0;
    text-decoration: none;
    color: black;
}

footer-a {
    text-decoration: none;
    color: #eee;
}

a:hover{
    text-decoration: underline;
}

.footer-title{
    color: black;
    font-family: Circular, Verdana, sans-serif;
    font-size: 1.37rem;
    padding-bottom: 0.625rem;
}

.container {
    flex: 1;
}

.footer-main{
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-warp: wrap;
}

.footer-main a{
    color: black;
}

.footer-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
}

@media only screen and (min-width: 77.5rem) {
    .footer-main{
        justify-content: space-evenly;
    }
}

.footer-social {
    text-align: center;
    padding: 0px 40% 0px 35%;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px black solid;
}

.footer-social-list a{
    color: black;
}

.footer-social-list th{
    margin: 0.5rem;
    font-size: 1.25rem;
    padding: 1.25rem;

}

.footer-legal {
    padding: 5px 40%;
    background-color: #333;
    color: white;
}
.footer-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.footer-legal-list li {
    margin: 0.125rem 0.625rem;
}

.footer-legal-list li:nth-last-child(2) {
    flex: 1;
}

.box1{
    margin-top:20px;
    padding: 50 50px;
    margin-bottom: 26px;
    background: #E0F5FE;
}
.box1 .search{
    padding: 15px 200px;
    border-radius: 12px;

}

.search input{
    height:60px;
    width: 1000px;
    font-size: 20px;
    padding: 0 25px;
    border: 5px solid #151B54;
    border-radius: 25px 0 0 25px;
    outline: none;
}
.search button{
    height: 60px;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    font-size: 20px;
    font-weight:bold;
    background: #151B54;
    color: #fff;
}

.top2{
    font-size:23px;
    font-family:sans-serif;
    margin-left:50px;
    margin-top:60px;
}

.Faculty_box{
    margin-left:20px;
    margin-top:30px;
    background: #E0F5FE;
    width:300px;
    height:200px;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #000;
    float:left;
    margin-bottom:800px;
    position: relative;
    top: 50%;
}

.School_box{
    margin-left:20px;
    position: absolute;
    top: 50%;
    background: #E0F5FE;
    width:300px;
    height:300px;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #000;
}

.Level_box{
    margin-left:20px;
    position: absolute;
    top: 50%;
    background: #E0F5FE;
    width:300px;
    height:200px;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #000;
}

.School_box .title{
    font-size: 25px;
    font-weight: bold;
    font-family:sans-serif;
}

.Faculty_box .title{
    font-size: 25px;
    font-weight: bold;
    font-family:sans-serif;
}

.Level_box .title{
    font-size: 25px;
    font-weight: bold;
    font-family:sans-serif;
}
input {
    width: 20px;
    height: 20px;
}
label{
    font-size: 18px;
    font-family:sans-serif;
    line-height:2;
}

.Result{
    margin-top:30px;
    background: #E0F5FE;
    width:70%;
    height:845px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #000;
    overflow:scroll;
    position:absolute;
    left:400px;
    padding: 20px 30px;
}

.Result .title{
    font-size: 30px;
    font-weight: bold;
    font-family:sans-serif;
}

.Result_box .Search_result_box{
    background: #fff ;
    border-radius: 10px;
    margin: 30px;
    width:1000px;
    display:flex;
}
.Search_result_box .results{
    display:flex;
}

.Result_box .Search_result_box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.9);
}

.Result_img img{
    width:250px;
    height: 210px;
    margin: 20px;
}

.Description{
    padding: 10px 20px;
}

.name{
    font-size: 25px;
    text-decoration:none;
    font-family:sans-serif;
    color:#000;
    font-weight:bold;
}

.Description p{
    font-size:20px;
}
