@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: white;
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.menusidebar .sidebar {
    background: rgb(5, 68, 104);
    background-image: linear-gradient(#05CAFF, #0373FF, #0239BF);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.menusidebar .sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
    padding-top: 10px;
}

.menusidebar .sidebar .profile img {

    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.menusidebar .sidebar .profile h3 {
    color: #ffffff;
    margin: 10px 0 5px;
}

.menusidebar .sidebar .profile p {
    color: rgb(206, 240, 253);
    font-size: 14px;
    text-align: center;
    margin-left: 6em;
}

.menusidebar .sidebar ul li a {
    display: block;
    padding: 10% 40px;
    text-decoration: none;
    color: rgb(241, 237, 237);
    font-size: 17px;
    position: relative;
    font-family: Circular, Verdana, sans-serif;
}

.menusidebar .sidebar ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.menusidebar .sidebar ul li a:hover,
.menusidebar .sidebar ul li a.active {
    color: #0c7db1;
    background: white;
}

.menusidebar .sidebar ul li a:hover .icon,
.menusidebar .sidebar ul li a.active .icon {
    color: #0c7db1;
}

.menusidebar .sidebar ul li a:hover:before,
.menusidebar .sidebar ul li a.active:before {
    display: block;
}

.menusidebar .section {
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.menusidebar .section .top_navbar {
    background: #05CAFF;
    background-image: linear-gradient(to right, #05CAFF, #0373FF, #0239BF);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.menusidebar .section .top_navbar .hamburger a {
    font-size: 28px;
    color: #f4fbff;
}

.menusidebar .section .top_navbar .hamburger a:hover {
    color: #a2ecff;
}

.top_navbar .search-container {
    float: right;
    margin-bottom: 10px;
    margin-left: 83em;
}

.top_navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.top_navbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.top_navbar .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .top_navbar .search-container {
        float: none;
    }
    .top_navbar a,  .top_navbar input[type=text],  .top_navbar .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .top_navbar input[type=text] {
        border: 1px solid #ccc;
    }
}

body.active .menusidebar .sidebar {
    left: -225px;
}

body.active .menusidebar .section {
    margin-left: 0;
    width: 100%;
}

hr.rounded {
    border-top: 2px solid #bbb;
    border-radius: 5px;
    margin: 2em 4.5em 0.5em;
}

ul {
    list-style: none;
    padding-left: 0;
    text-decoration: none;
    color: black;
}

footer-a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: underline;
}

.footer-title {
    color: black;
    font-family: Circular, Verdana, sans-serif;
    font-size: 1.37rem;
    padding-bottom: 0.625rem;
}

.footer-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-warp: wrap;
}

.footer-main a {
    color: black;
}

.footer-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
}

@media only screen and (min-width: 77.5rem) {
    .footer-main {
        justify-content: space-evenly;
    }
}

.footer-social {
    text-align: center;
    padding: 0px 40% 0px 35%;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px black solid;
}

.footer-social-list a {
    color: black;
}

.footer-social-list th {
    margin: 0.5rem;
    font-size: 1.25rem;
    padding: 1.25rem;
}

.footer-legal {
    padding: 5px 40%;
    background-color: #333;
    color: white;
}

.footer-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.footer-legal-list li {
    margin: 0.125rem 0.625rem;
}

.footer-legal-list li:nth-last-child(2) {
    flex: 1;
}


.module .box1 {
    padding: 0 20px;
    margin-bottom: 26px;
}

.box1 .module_name {
    background: #E0F5FE;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #000;
    margin-top: 2em;
}

.module_name .code {
    font-size: 30px;
    font-weight: bold;
}

.module_name .direction a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.module_name .direction a:hover {
    color: #E74C3C;
}

.module .details {
    background: #E0F5FE;
    margin-left: 17px;
    margin-right: 17px;
    padding: 20px 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #000;
}

.module .details .box2 {
    background: #fff;
    padding: 20px 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #000;
    margin: 0 20px 20px;
}

.box2 .name {
    font-size: 20px;
    font-weight: 800;
}

.module .details .box3 {
    display: flex;
    background: #fff;
    padding: 20px 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #000;
    margin: 0 20px 20px;
}

.box3 .title1 {
    font-size: 20px;
    font-weight: 800;
}

.box3 .number {
    margin-left: 10px;
    font-size: 20px;
}

.module .details .box4 {
    display: flex;
    background: #fff;
    padding: 20px 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #000;
    margin: 0 20px 20px;
}

.box4 .title2 {
    font-size: 20px;
    font-weight: 800;
}

.box4 .status {
    margin-left: 10px;
    font-size: 20px;
}

.module .details .box5 {
    display: flex;
    background: #fff;
    padding: 20px 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #000;
    margin: 0 20px 20px;
}

.box5 .title3 {
    font-size: 20px;
    font-weight: 800;
}

.box5 .grade {
    margin-left: 10px;
    font-size: 20px;
}

.module .details .box6 {
    display: flex;
    background: #fff;
    padding: 20px 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #000;
    margin: 0 20px 20px;
}

.box6 .title4 {
    font-size: 20px;
    font-weight: 800;
}

.box6 .grade {
    margin-left: 10px;
    font-size: 20px;
}

.module .details .box7 {
    background: #fff;
    padding: 20px 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #000;
    margin: 0 20px 20px;
}


.box7 label {

    background-color: #151B54;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px ridge black;
    font-size: 20px;
    height: auto;
}

.box7 input {
    opacity: 0;
}

.box7 button {
    background-color: #151B54;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;

}


.box7 .preview {
    font-size: 20px;
    background: #fff;
    padding: 20px 20px;
    margin: 0 0px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #000;

}

form li, div > p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;

}

.module .details .box8 {
    display: flex;
    background: #fff;
    padding: 20px 20px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #000;
    margin-bottom: 20px;
}

.box8 .title5 {
    font-size: 20px;
    font-weight: 800;
}

.box8 .feedback {
    margin-left: 10px;
    font-size: 20px;
}