*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #151B54;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo{
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo i{
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}

.sidebar .options{
  margin-top: 80px;
}
.sidebar .options li{
  position: relative;
  list-style: none;
  height: 80px;
}
.sidebar .options li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
   color:#fff;
}

input[type="search"]{
padding:10px 1px 10px 50px;
font-size:18px;
color:#000;
background-color:#B0C4DE;
border-radius:15px;
}

.search a{
    display:block;
    text-decoration:none; 
    font-size:18px;
    background-color:#B0C4DE;
    padding:20px;
    margin-top:5px;
    border-radius:5px;
    font-weight:bold;
}

.search ul{
    list-style:none;
    padding:0;
    width:465px;
}

.search ul li a:hover{
    color:#E74C3C;

}

.search .suggestions li{
    overflow:hidden;
    height:0;
    transition:all 0.3s ease-in-out;
}
input[type="search"]:focus + .suggestions li{
    height:50px;
}
.search .bx-search-alt{
                          position:absolute;
                          z-index:99;
                          color:#fff;
                          font-size:22px;
                          bottom:45px;
                          }  
                          

.sidebar .options li a:hover{
  background: #4682B4;
}

.sidebar .options li i{
  min-width: 65px;
  text-align: center;
  font-size: 22px;
  border-radius:12px;
  color: #fff;
}
.sidebar .options li a .list{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.submission nav{ 
justify-content: space-between; 
height: 78px; 
background: #fff;
display: flex; 
align-items: center; 
position: fixed; 
width: calc(100% - 240px); 
left: 240px; 
z-index: 100; 
padding: 0 20px; 
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); 
transition: all 0.5s ease; top: 0px; 
} 
.submission nav .day{
 background: #7F9CCB;
  text-align: center; 
  padding: 20px 10px; 
  margin-left: 10px; 
  border-radius: 12px; 
  width: 150px; 
  }
 .bell{ 
 font-size: 28px;
  cursor: pointer; 
  position: fixed; 
  left: 82%;  
  margin-top: 5px; 
  } 
  .dropbtn { 
   background: #7F9CCB;
  color: black; 
  padding: 13px; 
  font-size: 20px; 
  border: 1px solid black; 
  cursor: pointer; 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-right: 10px;
  text-align:center;
  
  
  } 
  .dropbtn:hover{ 
  background-color:#4682B4; 
  } 
  .dropdown_menu { 
  display: none; 
  position: absolute; 
  background-color: #f1f1f1; 
  width: 225px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  border-radius: 10px; 
  } 
  .dropdown_menu a { 
  color: black; 
  padding: 12px 16px; 
  text-decoration: none; 
  display: block; 
  } 
  .dropdown_menu a:hover { 
  background-color: #ddd; 
  } 
  .show { 
  display: block;
 }
.submission{
  position: relative;
  background: #fff;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .submission{
  width: calc(100% - 60px);
  left: 60px;
}


.sidebar.active ~ .submission nav{
  left: 60px;
  width: calc(100% - 60px);
}
.submission .module{
  position: relative;
  padding-top: 104px;
  
}

.module .box1{
padding: 0 20px;
margin-bottom: 26px;
}

.box1 .module_name{
background: #fff;
padding: 15px 14px;
border-radius: 12px;
box-shadow: 0px 0px 8px #000;
}

.module_name .code{
font-size: 30px;
font-weight:bold;
}

.module_name .direction a{
text-decoration: none;
color:#000;
}

.module_name .direction a:hover{
color:#E74C3C;
}

.module .details{
background:#72B2DB ;
  margin-left:17px;
  margin-right:17px;
  padding: 20px 20px;
  margin-bottom:20px;
  border-radius: 12px;
  box-shadow: 0px 0px 8px #000;
}

.module .details .box2{
 background: #E5F1F1  ;
  padding: 20px 20px;
  margin: 0 20px;
  border-radius: 12px;
 box-shadow: 0px 0px 8px #000;
 margin-bottom:20px;
  }

.box2 .name{
font-size:20px;
font-weight:800;
}
  
.module .details .box3{
display:flex;
background: #E5F1F1  ;
padding: 20px 20px;
margin: 0 20px;
border-radius: 12px;
box-shadow: 0px 0px 8px #000;
margin-bottom:20px;
}

.box3 .title1{
font-size:20px;
font-weight:800;
}

.box3 .number{
margin-left:10px;
font-size:20px;
}

.module .details .box4{
display:flex;
background: #E5F1F1  ;
padding: 20px 20px;
margin: 0 20px;
border-radius: 12px;
box-shadow: 0px 0px 8px #000;
margin-bottom:20px;
}

.box4 .title2{
font-size:20px;
font-weight:800;
}

.box4 .status{
margin-left:10px;
font-size:20px;
}
  
.module .details .box5{
display:flex;
background: #E5F1F1  ;
padding: 20px 20px;
margin: 0 20px;
border-radius: 12px;
box-shadow: 0px 0px 8px #000;
margin-bottom:20px;
}

.box5 .title3{
font-size:20px;
font-weight:800;
}

.box5 .grade{
margin-left:10px;
font-size:20px;
}  

.module .details .box6{
display:flex;
background: #E5F1F1  ;
padding: 20px 20px;
margin: 0 20px;
border-radius: 12px;
box-shadow: 0px 0px 8px #000;
margin-bottom:20px;
}

.box6 .title4{
font-size:20px;
font-weight:800;
}

.box6 .grade{
margin-left:10px;
font-size:20px;
} 

.module .details .box7{
background: #E5F1F1  ;
padding: 20px 20px;
margin: 0 20px;
border-radius: 12px;
box-shadow: 0px 0px 8px #000;
margin-bottom:20px;
}


.box7 label{

background-color:#151B54;
color:#fff;
padding: 5px 10px;
border-radius: 10px;
border: 1px ridge black;
font-size: 20px;
height: auto;
}  

.box7 input{
opacity: 0;
}

.box7 button{
background-color:#151B54;
padding: 5px 10px;
border-radius: 10px;
font-size: 20px;
color:#fff;
margin-top:10px;

} 


.box7 .preview{
font-size:20px;
background: #fff;
padding: 20px 20px;
margin: 0 0px;
border-radius: 12px;
box-shadow: 0px 0px 8px #000;

}
 form li, div > p {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      list-style-type: none;
    
    }

.module .details .box8{
display:flex;
background: #E5F1F1  ;
padding: 20px 20px;
margin: 0 20px;
border-radius: 12px;
box-shadow: 0px 0px 8px #000;
margin-bottom:20px;
}

.box8 .title5{
font-size:20px;
font-weight:800;
}

.box8 .feedback{
margin-left:10px;
font-size:20px;
} 

.footer{
width: 100%;
background-color:#0172C2;
height: 290px;
float: right;
position: relative;
padding bottom: 0px;
}

.footerone,
.footertwo,
.footerthree
 {
width:28%;
float: left;
text-align: left;
color: #fff;
}

.footerone ul{
margin: 0px;
padding: 0;
list-style: none;
}
.footerone img{
border: none;
padding-bottom: 5px;
margin: 15px 10px 0px 10px;
}
.footerone p{
width: 70%;
margin-top: 0px;
font-family: bahnscrift semibold semiconden;
}

.footertwo ul{
margin: 10px;
list-style: none;
}
.footertwo ul a{
text-transform: uppercase;
text-decoration: none;
color: #fff;
font-size: 25;
font-weight: bold;
font-size: 15px;
}


.helpnumber {
margin-top: -25px;
}

.helpmail {
margin-top: -30px;
margin-right: 335px;
text-align: right;
}



.footer_bottom{
width: 100%;
background-color:#0e60a1;
color: white;
height: 25px;
float: right;
font-weight: normal;
text-align: center;
position: absolute;
bottom: 0px;
left: 0px;
padding top: 20px;
}  
  
  